/* colors.css */

/* Dark Mode */
:root {
    --dark-text-color: #f7f7f4; /* Default text color for dark mode */
    --dark-background-color: #000001; /* Default background color for dark mode */
    --dark-secondary-background-color: #151414; /* Default secondary background color for dark mode */
    --dark-primary-color: #dddddd; /* Default primary color for dark mode */
    --dark-secondary-color: #89143C; /* Default secondary color for dark mode */
    --dark-accent-color: #E171FD; /* Default accent color for dark mode */
    --dark-border-color: #F4F4F7;
}

/* Light Theme */
:root {
    --light-text-color: #252525; /* Default text color for light mode */
    --light-background-color: #fff; /* Default background color for light mode */
    --light-secondary-background-color: #f0f0f0; /* Default secondary background color for light mode */
    --light-primary-color: #007bff; /* Default primary color for light mode */
    --light-secondary-color: #6c757d; /* Default secondary color for light mode */
    --light-accent-color: #ffc107; /* Default accent color for light mode */
    --light-border-color: #c0c0c0;
}

/* Y2K Theme */
:root {
    --Y2K-text-color: #df1cd5; /* Default text color for special theme */
    --Y2K-background-color: #b3f0ff; /* Default background color for special theme */
    --Y2K-primary-color: #007bff; /* Default primary color for special theme */
    --Y2K-secondary-color: #6c757d; /* Default secondary color for special theme */
    --Y2K-accent-color: #ffc107; /* Default accent color for special theme */
    --Y2K-border-color: #ff20b1;
}
