/*
--text-color
--background-color
--secondary-background-color
--primary-color
--secondary-color
--accent-color
--border-color
*/

/* Default (Dark Theme) Styles */
.unm-container {
    position: fixed;
    top: 50px;
    left: 50px;
    z-index: 100;
    user-select: none;
}

.unm-icon {
    cursor: pointer;
    padding: 15px;
    border: 3px solid var(--primary-color);
    border-radius: 8px;
    background-color: var(--secondary-background-color);
    font-size: 1.2em;
    user-select: none;
}

.unm-tree {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    border: 3.5px solid var(--border-color);
    border-radius: 8px;
    background-color: var(--background-color);
    padding: 10px;
    z-index: 1000;
    user-select: none;
}

.unm-tree ul {
    color: var(--text-color);
    list-style-type: none;
    padding-left: 20px;
    user-select: none;
}

/* For dark theme */
.dark-theme .unm-icon {
    background-color: var(--secondary-background-color);
    border-color: rgb(51, 51, 51);
}

.dark-theme .unm-tree {
    border-color: var(--border-color);
    background-color: var(--secondary-background-color);
    color: var(--text-color);
}

/* For light theme */
.light-theme .unm-icon {
    background-color: #f0f0f0;
    color: #333;
    border-color: var(--border-color);
}

.light-theme .unm-tree {
    border-color: var(--border-color);
    background-color: #f0f0f0;
    color: #333;
}

/* For special theme */
.special-theme .unm-icon {
    background-color: #ff1493; 
    color: #fff;
    border-color: var(--border-color); 
}

.special-theme .unm-tree {
    border-color: var(--border-color);
    background-color: #ff1493; 
    color: #fff;
}
