/* CSS for UNM using variables from colors.css */

/* Default (Dark Theme) Styles */
.unm-container {
    position: fixed;
    top: 50px;
    left: 50px;
    z-index: 100;
    user-select: none;
}

.unm-icon {
    cursor: pointer;
    padding: 15px;
    border: 3px solid var(--dark-primary-color);
    border-radius: 8px;
    background-color: var(--dark-secondary-background-color);
    font-size: 1.2em;
    user-select: none;
}

.unm-view {
    display: none;
    position: absolute;
    top: 200px; /*change this whenthe close button works*/
    border: 3.5px solid var(--dark-border-color);
    border-radius: 8px;
    background-color: var(--dark-background-color);
    padding: 10px 15px;
    z-index: 10;
    user-select: none;
}

.unm-fixed {
    display: grid; 
    grid-template-columns: 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr; 
    grid-template-rows: 1fr; 
    width: 100%;
    font-size: 1.2em;
    user-select: none;
    align-items: center;
}

.empty-space {
    width: 150px;    
}

.gunm-icon {
    padding: 10px;
    width: 1em;
    height:  fit-content;
    cursor: pointer;
}

#switch-theme {
    width: 1.3em;
}
#battery-icon {
    cursor: auto;
    width: 1.3em;
}

.unm-view ul {
    color: var(--dark-text-color);
    list-style-type: none;
    padding-left: 20px;
    user-select: none;
}

/* For dark theme */
.dark-theme .unm-icon {
    background-color: var(--dark-secondary-background-color);
    border-color: var(--dark-border-color);
}

.dark-theme .unm-view {
    border-color: var(--dark-border-color);
    background-color: var(--dark-secondary-background-color);
    color: var(--dark-text-color);
}

/* For light theme */
.light-theme .unm-icon {
    background-color: var(--light-secondary-background-color);
    color: var(--light-text-color);
    border-color: var(--light-border-color);
}

.light-theme .unm-view {
    border-color: var(--light-border-color);
    background-color: var(--light-secondary-background-color);
    color: var(--light-text-color);
}

/* For special theme */
.Y2K-theme .unm-icon {
    background-color: var(--Y2K-background-color);
    color: var(--Y2K-text-color);
    border-color: var(--Y2K-border-color);
}

.Y2K-theme .unm-view {
    border-color: var(--Y2K-border-color);
    background-color: var(--Y2K-background-color);
    color: var(--Y2K-text-color);
}
