/* CSS for UNM using variables from colors.css */

/* Default (Dark Theme) Styles */
.unm-container {
    position: fixed;
    top: 50px;
    left: 50px;
    z-index: 100;
    user-select: none;
}

.unm-icon {
    cursor: pointer;
    padding: 15px;
    border: 3px solid var(--dark-primary-color);
    border-radius: 8px;
    background-color: var(--dark-secondary-background-color);
    font-size: 1.2em;
    user-select: none;
}

.unm-tree {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    border: 3.5px solid var(--dark-border-color);
    border-radius: 8px;
    background-color: var(--dark-background-color);
    padding: 10px;
    z-index: 1000;
    user-select: none;
}

.unm-tree ul {
    color: var(--dark-text-color);
    list-style-type: none;
    padding-left: 20px;
    user-select: none;
}

/* For dark theme */
.dark-theme .unm-icon {
    background-color: var(--dark-secondary-background-color);
    border-color: var(--dark-border-color);
}

.dark-theme .unm-tree {
    border-color: var(--dark-border-color);
    background-color: var(--dark-secondary-background-color);
    color: var(--dark-text-color);
}

/* For light theme */
.light-theme .unm-icon {
    background-color: var(--light-secondary-background-color);
    color: var(--light-text-color);
    border-color: var(--light-border-color);
}

.light-theme .unm-tree {
    border-color: var(--light-border-color);
    background-color: var(--light-secondary-background-color);
    color: var(--light-text-color);
}

/* For special theme */
.Y2K-theme .unm-icon {
    background-color: var(--Y2K-background-color);
    color: var(--Y2K-text-color);
    border-color: var(--Y2K-border-color);
}

.Y2K-theme .unm-tree {
    border-color: var(--Y2K-border-color);
    background-color: var(--Y2K-background-color);
    color: var(--Y2K-text-color);
}

.header-icons {
    display: flex;
    align-items: center;
    position: fixed;
    top: 30px;
    left: 30px;
    gap: 20px;
}

.icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}