/* Body styles */
body {
    background-color: var(--light-background-color); /* White background */
    color: var(--light-text-color); /* Black text */
}

/* Header styles */
header {
    background-color: var(--light-secondary-background-color); /* Light gray */
    padding: 20px;
}



/* Main content styles */
.main-content {
    padding: 20px;
}

/* Footer styles */
footer {
    background-color: var(--light-secondary-background-color); /* Light gray */
    padding: 20px;
    text-align: center;
}
