body {
    background-color: lightblue;
    color: darkblue;
  }

.browser-window {
    color: var(--text-color);
    border: 2px solid var(--accent-color);
    border-radius: 8px;
    width: 80%;
    max-width: 1200px;
    background-color: rgba(22, 22, 22, 0);
    /* Combined inner and outer shadow using CSS variables */
    box-shadow: inset 0 0 30px var(--accent-color), 0 0 30px var(--accent-color);
    position: relative;
    padding-top: 40px; /* Adjusted padding */
    overflow: auto;
}